<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  
  <!--<variable name="myvar" value="myvalue"/>-->
  
  <targets>
    <target xsi:type="File"
            name="f"
            encoding="utf-8"
            layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff} ${threadid} ${uppercase:${level}} ${logger} ${aspnet-request:header=XSI_USER_IP} ${aspnet-SessionId} ${aspnet-session:Variable=MemberID} ${aspnet-session:Variable=MemberAccount} ${message} ${exception:format=tostring}"
            fileName="D:\LogFiles\WebLog\dotnetNLogPR\dotnetNLogPR.log"
            archiveFileName="D:\LogFiles\WebLog\dotnetNLogPR\dotnetNLogPR.{#}.log"
            archiveNumbering="Date"
            archiveEvery="Hour"
            archiveDateFormat="yyyyMMdd-HH"
            maxArchiveFiles="72"/>
  </targets>

  <targets>
    <target xsi:type="File"
            name="fdebug"
            encoding="utf-8"
            layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff} ${threadid} ${uppercase:${level}} ${logger} ${aspnet-request:header=XSI_USER_IP} ${aspnet-SessionId} ${aspnet-session:Variable=MemberID} ${aspnet-session:Variable=MemberAccount} ${message} ${exception:format=tostring}"
            fileName="D:\LogFiles\WebLog\dotnetNLogPR\dotnetNLogPR_Debug.log"
            archiveFileName="D:\LogFiles\WebLog\dotnetNLogPR\dotnetNLogPR_Debug.{#}.log"
            archiveNumbering="Date"
            archiveEvery="Hour"
            archiveDateFormat="yyyyMMdd-HH"
            maxArchiveFiles="72"/>
  </targets>

  <rules>
    <logger name="*" levels="Info,Warn,Error,Fatal"  writeTo="f" />
    <logger name="*" levels="Debug,Trace,Error"  writeTo="fdebug" />   
  </rules>
</nlog>
